<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024", initial-scale=1.0" />
    <title>Delete Member</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .teaser {
      border: 1px solid black;
      text-align: center;
      background-color: #64dd17;
      height: 50px;
    }
    #divcon {
      border: 1px solid black;
      /* width: 80%; */
      height: 520px;
      display: flex;
      justify-content: center;
    }
    input[type='submit'] {
      margin-top: 200px;
      margin-left: 270px;
      color: black;
      background-color: #64dd17;
      padding: 14px 50px;
      text-decoration: none;
      cursor: pointer;
    }
    .btnCancel {
      background-color: rgba(255, 59, 59, 0.959);
      border: 1px solid black;
      color: black;
      padding: 16px 50px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    .btnCancel:hover,
    .btnCancel:active {
      color: black;
      text-decoration: none;
    }
    p {
      font-weight: bold;
      font-family: 'THSarabunNew', sans-serif;
    }
  </style>
  <body>
    <div class="teaser">
      <h3>การลบข้อมูลผู้ใช้</h3>
    </div>
    <div id="divcon">
      <form id="myForm" action="/delete/<%= user.id_employee%>" method="GET">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>ข้อมูลผู้ใช้ :</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="fname">ชื่อ : <%= user.name%> </label>
            </div>
            <div class="col">
              <label for="lname">สกุล : <%= user.surname%> </label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label for="position">ตำแหน่ง : <%= user.position%> </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="submit" value="ตกลง" />
            <a href="/main" class="btnCancel">ยกเลิก</a>
          </div>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>
