<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024", initial-scale=1.0" />
    <title>Editting User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .teaser {
      border: 1px solid black;
      text-align: center;
      background-color: #64dd17;
      height: 50px;
    }
    #divcon {
      border: 1px solid black;
      /* width: 80%; */
      height: 520px;
      display: flex;
      justify-content: center;
    }
    input[type=submit]{
      margin-left: 240px;
      color: black;
      background-color: #64dd17;
      padding: 14px 50px;
      text-decoration: none;
      cursor: pointer;
    }
    .btnCancel{
    background-color: rgba(255, 59, 59, 0.959);
    border: 1px solid black;
    color: black;
    padding: 16px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }
    .btnCancel:hover,.btnCancel:active{
      color: black;
      text-decoration: none;
    }
    p{
      font-weight: bold;
      font-family: 'THSarabunNew', sans-serif;
    }
  </style>
  <body>
    <div class="teaser">
      <h3>การแก้ไขข้อมูลผู้ใช้</h3>
    </div>
    <div id="divcon">
      <form id="myForm" action="/update" method="POST">
        <input value="<%= user.id_employee %>" id="idemp" name="idemp" hidden>
        <div class="container">
          <div class="row">
            <div class="col">
              <p>ข้อมูลผู้ใช้ :</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="fname">ชื่อ : </label>
          <input
            type="text"
            id="fname"
            value="<%= user.name %>"
            name="fname"
            maxlength="50"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          />
            </div>
            <div class="col">
              <label for="lname">สกุล : </label>
          <input
            type="text"
            id="lname"
            value="<%= user.surname %>"
            name="lname"
            maxlength="50"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          />
            </div>
          </div>
          <br />
          <label for="position">ตำแหน่ง :</label>
          <input
            type="text"
            id="position"
            value="<%= user.position%>"
            name="position"
            maxlength="50"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <label for="salary">เงินเดือน (บาท) : </label>
          <input
            type="text"
            step="0.0000001"
            id="salary"
            value="<%= user.salary.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %>"
            name="salary"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          /><br /><br />
          <label for="totalsalary">ยอดขายทั้งหมด (บาท) : </label>
          <input
            type="text" 
            step="0.0000001"
            id="totalsalary"
            value="<%= user.total_sale.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %>"
            name="totalsalary"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          /><br /><br />
          <p>ข้อมูลเข้าสู่ระบบ:</p>
          <label for="email">Email : </label>
          <input
            type="email"
            id="email"
            value="<%= user.user %>"
            name="email"
            maxlength="50"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <label for="password">Password : </label>
          <input
            type="text"
            id="password"
            value="<%= user.password %>"
            name="password"
            maxlength="50"
            required
            oninvalid="this.setCustomValidity('กรุณากรอกข้อมูลให้ถูกต้อง')"
            oninput="setCustomValidity('')"
          /><br><br>
        </div>
          <!-- <a href="/update/<%= user.id_employee %>" class="btnYes">ตกลง</a> -->
          <input type="submit" value="ตกลง" />
          <a href="/main" class="btnCancel">ยกเลิก</a>
      </form>
    </div>
  </body>
</html>
