<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024", initial-scale=1.0" />
    <title>MainMenu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
  <style>
  .header {
  padding: 10px;
  border: 1px solid black;
  }
  .header-right{
    float: right;
  }
  .nav-link {
      background-color: inherit;
      border: 1px solid black;
      text-decoration: none;
      text-align: center;
      color: black;
      cursor: pointer;
      height: 95px;
  }
  .nav-link:hover {
      background-color: inherit;
      border: 1px solid black;
      text-decoration: none;
      text-align: center;
      color: black;
      cursor: pointer;
      height: 95px;
  }
  .con {
    display: flex;
    justify-content: start;
  }
  .content {
    width: 80%;
    height: 570px;
  }
  .btnnav {
    width: 20%;
    height: 450px;
  }
  .divfooter {
      background-color: #64dd17;
      height: 60px;
  }
    
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#info').click(function () {
        $('#div1').load('member')
      })
    })
    $(document).ready(function () {
      $('#infoadd').click(function () {
        $('#div1').load('userIndex')
      })
    })
  </script>
  <body>
    <div class="header">
      <img src="../img/green-coffee-icon.jpg" alt="green-coffee-icon" width="120" height="100">
      <div class="header-right">
      <img src="../img/avater.jpg" alt="user" width="100" height="100">
      ชื่อ: <%= name %> <%= lastname %>
    </div>
  </div>
    <div class="con">
      <div class="btnnav">
      <nav>
      <ul class ="nav navbar-nav">
      <li class ="nav-item">
        <a class="nav-link"  href="">X</a>
      </li>
      <li class ="nav-item">
        <a class="nav-link" href="">X</a>
      </li>
      <li class ="nav-item">
        <a class="nav-link" href="">X</a>
      </li>
      <li class ="nav-item">
        <a class="nav-link" id="infoadd">จัดการข้อมูลผู้ใช้</a>
      </li>
      <li class ="nav-item">
      <a class="nav-link" id="info">ข้อมูลสมาชิก</a></li>
      </li>
      <li class ="nav-item">
        <a class="nav-link" href="http://127.0.0.1:3000/logout">ออกจากระบบ</a>
      </li>
      </ul>
      </nav>
      </div>
      <div class="content" id="div1">
      </div>
    </div>
      <div class="divfooter">
      </div>
  </body>
</html>
