<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024", initial-scale=1.0" />
    <title>Member</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .teaser {
      border: 1px solid black;
      text-align: center;
      background-color: #64dd17;
      height: 50px;
      
    }
    #divcon {
      display: flex;
      justify-content:center;
      /* border: 1px solid black; */
      height: 520px;
    }
    .divhader {
      margin: 10px;
    }
  </style>
  <body>
    <div class="teaser">
      <h3>หน้าจอสมาชิก</h3>
    </div>
    <br>
    <div id="divcon">
      <div class="divhader" >
        <p>ชื่อ-สกุล : <%= name %> <%= lastname %> </p>
        <p>รหัสสมาชิก : <%= id %></p>
        <p>ตำแหน่ง : <%= position %></p> 
        <p>เงินเดือน : <%= salary %> บาท</p>
        <p>ยอดขายทั้งหมด : <%= totalsalary %> บาท</p>
      </div>
      <div class="divhader">
        <p>Login วัน-เวลาล่าสุด : <%= login %></p>
        <p>Logout วัน-เวลาล่าสุด : <%= logout %></p>
        <p>จำนวนครั้งที่เข้าสู่ระบบ : <%= count %> ครั้ง</p>
      </div>
    </div>
  </body>
</html>
