<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .teaser {
      border: 1px solid black;
      text-align: center;
      background-color: #64dd17;
      height: 50px;
    }
    .textP {
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
    }
    .inputText {
      text-align: center;
      padding: 11px 50px;
      border: 1px solid black;
      font-size: 14px;
    }
    .btnSaerch {
      background-color: gray;
      border: none;
      color: white;
      padding: 11px 25px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 18px;
    }
    .btnSaerch:hover,
    .btnSaerch:active {
      background-color: gray;
      color: white;
      text-decoration: none;
    }
    .btnAdd {
      background-color: #64dd17;
      border: none;
      color: white;
      padding: 11px 30px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      margin-left: 200px;
      font-size: 18px;
    }
    .btnAdd:hover,
    .btnAdd:active {
      background-color: #64dd17;
      color: white;
      text-decoration: none;
    }
    table {
      border: 2px solid black;
      width: 100%;
    }
    th,
    td {
      padding: 15px;
      text-align: left;
      border: 2px solid black;
    }
    .btnEdit {
      background-color: rgb(0, 102, 236);
      border: none;
      color: white;
      padding: 11px 25px;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
    }
    .btnEdit:hover,
    .btnEdit:active {
      background-color: rgb(0, 102, 236);
      color: white;
      text-decoration: none;
    }
    .btnDelete {
      background-color: #d12727;
      border: none;
      color: white;
      padding: 11px 25px;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
    }
    .btnDelete:hover,
    .btnDelete:active {
      background-color: #d12727;
      color: white;
      text-decoration: none;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(function () {
      $('#addMember').click(function () {
        $('#div1').load('./adduser.html')
      })
      $('#searchMember').click(function () {
        var empt = document.form.search.value
        if (empt === '') {
          $('#div1').load('userIndex')
        } else {
          $('#div1').load('./search/' + empt)
        }
      })
    })
    function editMember(id) {
      $('#div1').load('/edit/'+ id)
    }
    function deleteMember(id) {
      $('#div1').load('/showdelete/'+ id)
    }
  </script>
  <body>
    <div class="teaser">
      <h2><%= title %></h2>
    </div>
    <div class="container">
      <br />
      <form id="form" name="form">
        <label for="search">ค้นหาข้อมูลผู้ใช้ :</label>
        <input
          class="inputText"
          type="text"
          id="search"
          name="search"
          placeholder="ค้นหาข้อมูล"
        />
        <a
          style="color: white;"
          class="btnSaerch "
          type="button"
          id="searchMember"
          >ค้นหา</a
        >
        <a style="color: white;" class="btnAdd" id="addMember" type="button"
          >เพิ่มข้อมูล</a
        >
      </form>
      <br />
      <table class="table-scrollable">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>ชื่อ</th>
            <th>สกุล</th>
            <th>ตำแหน่ง</th>
            <th>เงินเดือน</th>
            <th>ยอดขายรวม</th>
            <th>แก้ไข</th>
            <th>ลบ</th>
          </tr>
        </thead>
        <tbody>
          <% var i=1 %> <% users.forEach(function(user){ %>
          <tr>
            <td width="5%"><%= i++ %></td>
            <td width="15%"><%= user.name%></td>
            <td width="15%"><%= user.surname%></td>
            <td width="15%"><%= user.position%></td>
            <td width="20%">
              <%= user.salary.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g,
              '$1,')%>
            </td>
            <td width="20%">
              <%= user.total_sale.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g,
              '$1,')%>
            </td>
            <td width="5%">
              <a href="#" onclick="editMember('<%= user.id_employee%>')" class="btnEdit">แก้ไข</a>
            </td>
            <td width="5%">
                <a href="#" onclick="deleteMember('<%= user.id_employee%>')" style="color: white;" class="btnDelete" >ลบ</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
